
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Sobre nós</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid">
                
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/quemSomos.html">Quem Somos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
            
    </header>
    <main>
        <h1 alig="middle">Nome da marca</h1>
        <h2 alig="center">Sobre nós:</h2>
        <p alig="center"> Nossa marca está atividade desde 2012, quando inauguramos o nosso primeiro
            restaurante no shopping boulevard em Belém. Mas, foi em 2015 que os nossos
            hambúrgueres começaram a se expandir por todo o Brasil; passando de apenas 5
            núcleos na capital metropolitana, para mais de 137 polos espalhados pelo território
            nacional. Sendo, portanto, uma empresa genuinamente brasileira, principal responsável
            pela alimentação rápida no país.</p>
        <br></br>           
        <p alig="center">Acreditamos que o nosso bem mais valioso é a nossa gente, por isso, desde sua
            fundação, a companhia preza por compromissos que norteiam sua operação, tais como:
            qualidade, transparência e segurança do alimento; geração de empregos formais para
            jovens; apoio às comunidades onde está presente; cadeia de suprimentos sustentável;
            impacto ambiental; diversidade; inclusão e experiências inovadoras para toda a família.</p>

            <br></br>

        <p alig="center">Temos mais de 263 mil funcionários em todas regiões do país, por isso, apostamos na
            carreira de nossos colaboradores, com o objetivo de impulsionar a visão de dono
            daqueles que, junto com a gente, acreditam em um Sonho Grande, sustentado por dois
            principais pilares:</p>

        <br></br>

        <p alig="center">- Missão:</p>
        <p alig="center">"Ser a mais prazerosa experiência de alimentação."</p>

        <br></br>

        <p alig="center">- Visão:</p>
        <p alig="center">"Ser a marca de fast food preferida, mais rentável, com pessoas talentosas e forte
            presença nacional.”</p>
    </main>
    <footer >
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="copyright">&copy; Crock'Roll - 2023</p>
          
        </div>
    </footer>    
       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous">
    </script>
</body>
</html>











